/**
 * AddTaskBar.css
 * 
 * Περισσότερο CSS από λογική. Προτεραιότητες.
 * Χρόνος που δαπανήθηκε: 80% styling, 20% λειτουργικότητα. Όπως όλα τα πράγματα θα έπρεπε να είναι.
 * Η εισαγωγή δεν κάνει τίποτα, αλλά τουλάχιστον δείχνει ωραία μη κάνοντας τίποτα.
 * 
 */

.add-task .input-group-text,
.add-task .form-control {
  border: none;
  background-color: #202529;
  transition: background-color 0.2s;
}

.add-task .input-group-text,
.add-task .form-control::placeholder {
  color: #788cde;
}

.add-task:hover .input-group-text,
.add-task:hover .form-control {
  background-color: #293035 !important;
}

.add-task .form-control:focus {
  box-shadow: none;
  background-color: #293035;
}

.add-task:focus-within .input-group-text {
  background-color: #293035;
}
